p {
  font-family: "Arial Black", Gadget, sans-serif;
}
body {
  height: 100%;
  margin: 0;
  padding: 50px;
  font: 14px "Arial", Helvetica, sans-serif;
  background-image: url("http://shapirastudent.com/4/elad/background.jpg");
  background-repeat: repeat;
  background-size: 100%;

}
#map {
  width: 100%;
  height: 350px;
}

#articuno{
  position: fixed;
  right:100px;
  top:100px;
  height:100px;
  width:100px;

}

a {
  color: #00B7FF;
}
